backend/**/venv/
backend/**/__pycache__/
backend/**/.env.development

agents/**/venv/
agents/**/__pycache__/
agents/**/.env.development
agents/bucket_cors.json
agents/sessions.db
startupevaluator-472213-fcc6ea5bd425.json

frontend/node_modules/

# Local Netlify folder
.netlify
