backend/**/venv/
backend/**/__pycache__/
backend/**/.env.development
backend/bucket_cors.json
agentic_jobs/**/venv/
agentic_jobs/**/.env.development
startupevaluator-472213-fcc6ea5bd425.json

frontend/node_modules/

# Local Netlify folder
.netlify
